@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&family=Quicksand:wght@300&family=Roboto&display=swap');

body {
    position: relative;
    background: #141414;
    height: 100px;
}

body::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -10px;
    right: -7px;
    height: 70px;
    background: linear-gradient(to top, rgba(20, 20, 20), #000);
    z-index: 1;
    transform: scale(1);
}

h1 {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 40px;
    margin: 0;
    font-family: poppins;
    font-size: 45px;
    user-select: none;
}

.Imagens-de-login {
    text-align: center;
    margin-top: 10px;
    user-select: none;
}

.perfil {
    display: inline-block;
    margin: 0 15px;
    text-align: center;
    user-select: none;
}

.perfil img {
    width: 150px;
    height: 150px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0 0.5px;
    border-radius: 10px;
    border: 3.5px solid transparent;
    transition: transform 0.3s ease;
}

.perfil p {
    margin: 10px 0;
    color: gray;
    font-family: poppins;
    transition: transform 0.3s ease;
}

.perfil:hover p {
    color: white;
    transform: translateY(17px) scale(105%);
}

.perfil:hover img {
    border: solid 3.5px white;
    transform: scale(110%);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;

    /* Estilo do botão */
    border-radius: 15px;
    width: 180px;
    height: 40px;
    font-size: 17px;
    background-color: transparent;
    color: gray;
    border: gray solid 0.5px;
    transition: transform 0.3s ease;
    user-select: none;
}

button:hover {
    color: white;
    border: white solid 0.5px;
    transform: scale(1.1);
}

button:active {
    background: #ba06de;
    background-size: 200% 100%;
    transform: scale(100%);
    transition: transform 0.3s ease;
}